<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   <h1>The Zombie Adventure Chooses You</h1>
   <h2>The Zombie Dilemma: The Brother's Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   You decided to take your little brother into the school's science lab. You are safe from the horde of zombies wanting to feast on your flesh. The only thing is... Your brother was BITTEN!!! You are in full panic and you can not just kill your brother or can you? It would destroy your parents, but could you handle knowing your brother might turn into a zombie? There is another option besides killing him. There are some chemicals in the lab that can help you make a cure. But this will be a huge risk as you do not have any medical experience. This maybe your last option to save him unless you decide to escape from the school and rush your brother to the hospital hoping they have a cure.<br></p>
<a href="go_to_the_hospital.html">Option 1: Don't take the risk and go to the hospital</a><br>
<p>Or</p>
  <a href="cure_for_mankind.html">Option 2: Take the chance of creating the cure that just might save your brother and mankind</a>
<p>Or</p>
  <a href="kill_your_brother.html">Option 3: Put your brother out of his misery</a>
  
 </body>
</html>