<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   
   <h1>The Zombie Adventure Chooses You</h1>
   <section id="box" class="col">
   <h2>The Zombie Dilemma: The Brother's Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   Since you went to get your brother you ran into a lot of problems. You could not take the train or bus to his school because the MTA seized all transportation from continuing do to the Ruby outbreak. After running 5 miles you finally reach your brother's school to see him walking in the school yard alone. You take him in the school to make sure he is okay. But the worst thing is about to happen...A horde of hungry zombies are coming your way. You can either escape into the lab room or leave the school.<br></p>
<a href="escape_into_lab.html">Option 1: Escape into the lab room</a><br>
<p>Or</p>
  <a href="leave_the_school_.html">Option 2: Leave the school</a>
  
 </body>
</html>