<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   <h1>The Zombie Adventure Chooses You</h1>
   <h2>The Zombie Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
  So you decide to take your brother to the hospital. The bad thing is there is not a hospital for almost 10 miles. Even the though the distance seemed like it doomed your brother to his fate, the unexpected happened. There was an abandoned go-kart that could fit you and your brother in it and the keys were left right beside it as if it was a gift from the heavens. You and your brother got in and sped to the hospital as fast as yall could. When the two of you got to the hospital a doctor greets you and brother and sees the bite on your brothers arm. The doctor examines your brother to make sure he didn't have any other bite marks. Do to the hundreds of people that ate the expired twinkies and needed the cure there was only one dose of it left for your brother. The doctor injected the cure in your brother. Your brother was feeling better and ran to give you the biggest hug a little brother could. He backed up and then asked why were you bleeding on your arm. The doctor seemed curious about the blood too. Suddenly, fear struck over your body as you turning into a man-eating Ruby zombie became a reality. The doctor grabbed a wet cloth to wipe off your arm. When the blood was completely wiped off it was just a scratch from you amazing journey to saving your brother. Or was it?<br></p>
<a href="/">START OVER</a><br>

  
 </body>
</html>