<!DOCTYPE html>
<html>
 <head>
  <link href="style.css" rel="stylesheet" type="text/css"> 
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   <h1>The Zombie Adventure Chooses You</h1>
   <h2>The Zombie Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   You are watching your favorite show and the news interrupts with a report of your biggest nightmare. There is a new virus called "Ruby" thats caused by the consumption of expired twinkies. People that consume it turn into man-eating monsters. You just so happened to stay home today because you were sick. There is one problem... Your 5 year old brother is stuck in school which is a block away from the first reported zombie incident was at!<br></p>
<a href="get_your_brother.html">Option 1: Go get your brother from school</a><br>
<p>Or</p>
  <a href="stay_home.html">Option 2: Stay home and let the local authorities save your brother.</a><br><br>
   <p>Created by Yancey Thomas.</p>
  
 </body>
</html>