<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   
   <h1>The Zombie Adventure Chooses You</h1>
   <section id="box" class="col">
   <h2>The Zombie Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   You chose to put your brother out of his misery. When you made this decision the emotion of having to kill your brother started to take over. How you explain to him that in order to save him from becoming a zombie you must take his life. After talking it over with him he surprisingly seemed calm about it. He didnt mind dying as long as you survived. You found a sharp object so that it would be quick and painless. While walking toward him getting ready to do the hardest thing any brother has to you break down in tears. You start to second-guess yourself because you are morally conflicted in removing your brother from this world. With being so indecisive you reconsider the decision and are back to where you originally started. So what will you decide to do?<br></p>
<a href="kill_your_brother2.html">Option 1: Kill your brother</a><br>
<p>Or</p>
  <a href="let_your_brother_turn.html">Option 2: Let him turn into a Ruby Zombie</a>
  
 </body>
</html>