<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   
   <h1>The Zombie Adventure Chooses You</h1>
   <section id="box" class="col">
   <h2>The Zombie Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   This is it. The moment of truth. You have made your final decision to kill your brother, so he doesn't turn into one of those zombies. You give him another hug and put the sharp object to his heart. All the memories you had with your him start to make you cry again. Just as soon as you were about to end it someone started banging on the lab door. Its your father!! You suddenly change from ultimate sadness to happiness. You let him in and your father rushes to see if your brother was okay. He told you that your mother called him and told him to get your brother. He saw when your and your brother ran into the school so ran after yall and searched every room and floor until he got to the lab. You tell your father about your brothers bite and he immediately decides to go to the hospital. <br></p>
<a href="go_to_the_hospital.html">NEXT</a><br>

  
 </body>
</html>