<!DOCTYPE html>
<html>
 <head>
   <link href="style.css" rel="stylesheet" type="text/css"> 
   
  <meta charset="UTF-8">
  <title>Zombie Adventure</title>
 </head>
 <body>
   
   <h1>The Zombie Adventure Chooses You</h1>
   <section id="box" class="col">
   <h2>The Zombie Dilemma: The Brother's Dilemma</h2>
   <p>Choose your way to survive in this new age apocalypse!<br><br>
   Since you didn't have it in you to take your brother's life you have decided to let him turn. Since he is doomed to becoming man-eating monster you try to make him feel as comfortable as possible. You talked about all the fun times the two of you had and reminded him that whatever happens he will always be your little brother. Hours passed and slowly your brother started going through the phases of becoming a Ruby zombie. In the final moments before he turned you told him that you had to go and tell yall parents the bad news. Before you left the lab his lasts words were "You are the best older brother anyone could have". You closed the lab door and began your dark and sad journey back home in a world in which your brother became one of them. A zombie.<br></p>

 <a href="/">START OVER.</a>
  
 </body>
</html>